In [20]:
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [21]:
pip install pandas_datareader requests

Requirement already satisfied: pandas_datareader in /opt/anaconda3/lib/python3.9/site-packages (0.10.0)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.9/site-packages (2.27.1)
Requirement already satisfied: lxml in /opt/anaconda3/lib/python3.9/site-packages (from pandas_datareader) (4.8.0)
Requirement already satisfied: pandas>=0.23 in /opt/anaconda3/lib/python3.9/site-packages (from pandas_datareader) (1.4.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.9/site-packages (from requests) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.9/site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from requests) (2.0.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.23->pandas_datareader) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.23->pandas_datareader) (1.22.4)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
WARNING: You are using pip version 22.0.4; however, version 23.3.1 is available.
You should consider upgrading via the '/opt/anaconda3/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [22]:
import pandas_datareader as pdr

In [23]:
# Load the dataset
file_path = '/Users/youziya/Downloads/data_set_hackathon.csv'
data = pd.read_csv(file_path)

# Display basic information about the dataset
initial_insight = {
    "First Five Rows": data.head(),
    "Dataset Shape": data.shape,
    "Data Types": data.dtypes,
    "Missing Values": data.isnull().sum()
}

initial_insight

{'First Five Rows':    order_date requested_delivery_date Customer Country Code Product Code  \
 0  13.07.2009              28.01.2010                    RU    L10705000
 1  15.07.2009              24.03.2010                    RU    L10705000
 2  16.07.2009              04.02.2010                    RU    L10705000
 3  17.07.2009              04.02.2010                    RU    L10705000
 4  21.07.2009              01.02.2010                    RU    L10705000

                    Description order_type  Customer Order Code     value Curr  \
 0  Parka Outdoor Lifestyle STD         VO           3200435553   2337.00  RUB
 1  Parka Outdoor Lifestyle STD         VO           3200435694  10160.25  RUB
 2  Parka Outdoor Lifestyle STD         VO           3200435741   2992.50  RUB
 3  Parka Outdoor Lifestyle STD         VO           3200435907   4061.25  RUB
 4  Parka Outdoor Lifestyle STD         VO           3200435963   2208.75  RUB

   items   Route
 0     6  RU0001
 1    23  RU0001
 2     7  RU0001
 3     9  RU0001
 4     5  RU0001  ,
 'Dataset Shape': (2420, 11),
 'Data Types': order_date                  object
 requested_delivery_date     object
 Customer Country Code       object
 Product Code                object
 Description                 object
 order_type                  object
 Customer Order Code          int64
 value                      float64
 Curr                        object
 items                       object
 Route                       object
 dtype: object,
 'Missing Values': order_date                 0
 requested_delivery_date    0
 Customer Country Code      0
 Product Code               0
 Description                0
 order_type                 0
 Customer Order Code        0
 value                      0
 Curr                       0
 items                      0
 Route                      0
 dtype: int64}

In [24]:
data.head()

,order_date,requested_delivery_date,Customer Country Code,Product Code,Description,order_type,Customer Order Code,value,Curr,items,Route
0,13.07.2009,28.01.2010,RU,L10705000,Parka Outdoor Lifestyle STD,VO,3200435553,2337.00,RUB,6,RU0001
1,15.07.2009,24.03.2010,RU,L10705000,Parka Outdoor Lifestyle STD,VO,3200435694,10160.25,RUB,23,RU0001
2,16.07.2009,04.02.2010,RU,L10705000,Parka Outdoor Lifestyle STD,VO,3200435741,2992.50,RUB,7,RU0001
3,17.07.2009,04.02.2010,RU,L10705000,Parka Outdoor Lifestyle STD,VO,3200435907,4061.25,RUB,9,RU0001
4,21.07.2009,01.02.2010,RU,L10705000,Parka Outdoor Lifestyle STD,VO,3200435963,2208.75,RUB,5,RU0001

In [31]:
data['Product Code'].unique()

array(['L10705000', 'L10705100', 'L10705200', 'L10705300', 'L10705400',
       'L10705500', 'L10705600', 'L10705700', 'L10850600', 'L10850700',
       'L10850800', 'L10850900', 'L10852800', 'L10852900', 'L10853100',
       'L12134400', 'L12134500', 'L12134600', 'L12134700', 'L12135800',
       'L12135900', 'L12136000', 'L12136100', 'L12916800', 'L12916900',
       'L12917000', 'L12917100', 'L12917700', 'L12917800', 'L12917900',
       'L12918000', 'L12918400', 'L12918500', 'L12918600', 'L12918700',
       'L12918800', 'L12918900', 'L12919000', 'L12919100', 'L12919200'],
      dtype=object)

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2420 entries, 0 to 2419
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   order_date               2420 non-null   object
 1   requested_delivery_date  2420 non-null   object
 2   Customer Country Code    2420 non-null   object
 3   Product Code             2420 non-null   object
 4   Description              2420 non-null   object
 5   order_type               2420 non-null   object
 6   Customer Order Code      2420 non-null   int64
 7   value                    2420 non-null   float64
 8   Curr                     2420 non-null   object
 9   items                    2420 non-null   object
 10  Route                    2420 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 208.1+ KB

In [ ]:
# Convert 'order_date' and 'requested_delivery_date' to datetime
data['order_date'] = pd.to_datetime(data['order_date'], format='%d.%m.%Y')
data['requested_delivery_date'] = pd.to_datetime(data['requested_delivery_date'], format='%d.%m.%Y')

# Encoding categorical variables
label_encoders = {}
categorical_columns = ['Customer Country Code', 'Product Code', 'Description', 'order_type', 'Curr', 'Route']
for column in categorical_columns:
    label_encoders[column] = LabelEncoder()
    data[column] = label_encoders[column].fit_transform(data[column])

# Scaling numerical variables
scaler = MinMaxScaler()
data['value'] = scaler.fit_transform(data[['value']])

# Checking for any anomalies or unusual values
anomaly_check = {
    "Descriptive Statistics": data.describe(),
    "Unique Values for Categorical Columns": {col: data[col].unique() for col in categorical_columns}
}

# Feature Engineering: Creating a new feature for the time between order and delivery
data['delivery_time'] = (data['requested_delivery_date'] - data['order_date']).dt.days

# Updated dataset preview
updated_dataset_preview = data.head()

anomaly_check, updated_dataset_preview

In [ ]:
data.head()

In [ ]:
data['Customer Country Code'].unique()

In [ ]:
data['order_type'].unique()

In [ ]:
data.head()