In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score, RandomizedSearchCV
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score, recall_score, precision_recall_curve, precision_score, roc_auc_score, roc_curve, accuracy_score

In [2]:
df = pd.read_csv('/Users/youziya/Downloads/churn_data.csv')

In [3]:
df.head()

,Unnamed: 0,CustomerID,Age,Location,Device,Month_1_Spend,Month_1_Items,Month_1_Support_Calls,Month_2_Spend,Month_2_Items,...,Month_10_Spend,Month_10_Items,Month_10_Support_Calls,Month_11_Spend,Month_11_Items,Month_11_Support_Calls,Month_12_Spend,Month_12_Items,Month_12_Support_Calls,Churn
0,0,1,46,US,iOS,756.005761,39,2,582.023075,92,...,280.397827,60,0,700.181510,66,3,382.719682,59,0,1
1,1,2,52,US,iOS,594.838157,59,0,251.269898,33,...,863.000645,89,1,571.331352,28,3,570.203975,89,0,1
2,2,3,43,Canada,Android,453.217405,21,3,124.178946,92,...,858.545990,60,5,198.222684,38,1,187.475764,79,5,1
3,3,4,41,US,iOS,621.453170,95,1,134.362559,46,...,404.590146,59,3,565.395592,78,1,281.415092,63,4,1
4,4,5,41,US,iOS,660.735119,48,5,713.265527,54,...,178.143438,85,1,574.382094,34,2,544.981985,28,2,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              10000 non-null  int64
 1   CustomerID              10000 non-null  int64
 2   Age                     10000 non-null  int64
 3   Location                10000 non-null  object
 4   Device                  10000 non-null  object
 5   Month_1_Spend           10000 non-null  float64
 6   Month_1_Items           10000 non-null  int64
 7   Month_1_Support_Calls   10000 non-null  int64
 8   Month_2_Spend           10000 non-null  float64
 9   Month_2_Items           10000 non-null  int64
 10  Month_2_Support_Calls   10000 non-null  int64
 11  Month_3_Spend           10000 non-null  float64
 12  Month_3_Items           10000 non-null  int64
 13  Month_3_Support_Calls   10000 non-null  int64
 14  Month_4_Spend           10000 non-null  float64
 15  Month_4_Items           10000 non-null  int64
 16  Month_4_Support_Calls   10000 non-null  int64
 17  Month_5_Spend           10000 non-null  float64
 18  Month_5_Items           10000 non-null  int64
 19  Month_5_Support_Calls   10000 non-null  int64
 20  Month_6_Spend           10000 non-null  float64
 21  Month_6_Items           10000 non-null  int64
 22  Month_6_Support_Calls   10000 non-null  int64
 23  Month_7_Spend           10000 non-null  float64
 24  Month_7_Items           10000 non-null  int64
 25  Month_7_Support_Calls   10000 non-null  int64
 26  Month_8_Spend           10000 non-null  float64
 27  Month_8_Items           10000 non-null  int64
 28  Month_8_Support_Calls   10000 non-null  int64
 29  Month_9_Spend           10000 non-null  float64
 30  Month_9_Items           10000 non-null  int64
 31  Month_9_Support_Calls   10000 non-null  int64
 32  Month_10_Spend          10000 non-null  float64
 33  Month_10_Items          10000 non-null  int64
 34  Month_10_Support_Calls  10000 non-null  int64
 35  Month_11_Spend          10000 non-null  float64
 36  Month_11_Items          10000 non-null  int64
 37  Month_11_Support_Calls  10000 non-null  int64
 38  Month_12_Spend          10000 non-null  float64
 39  Month_12_Items          10000 non-null  int64
 40  Month_12_Support_Calls  10000 non-null  int64
 41  Churn                   10000 non-null  int64
dtypes: float64(12), int64(28), object(2)
memory usage: 3.2+ MB

In [5]:
df.describe(include='all')

,Unnamed: 0,CustomerID,Age,Location,Device,Month_1_Spend,Month_1_Items,Month_1_Support_Calls,Month_2_Spend,Month_2_Items,...,Month_10_Spend,Month_10_Items,Month_10_Support_Calls,Month_11_Spend,Month_11_Items,Month_11_Support_Calls,Month_12_Spend,Month_12_Items,Month_12_Support_Calls,Churn
count,10000.00000,10000.00000,10000.000000,10000,10000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,...,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000
unique,NaN,NaN,NaN,4,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,Canada,Android,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,4258,5736,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,4999.50000,5000.50000,42.698500,NaN,NaN,482.593336,64.657700,2.488800,476.297118,63.118000,...,473.630524,58.227900,2.487000,472.671126,56.968900,2.519500,478.629330,56.512600,2.496300,0.70000
std,2886.89568,2886.89568,12.495528,NaN,NaN,237.961476,29.329527,1.711306,237.491820,28.933247,...,235.090366,25.909251,1.721083,234.288930,25.615119,1.702266,233.135282,25.263995,1.713674,0.45828
min,0.00000,1.00000,20.000000,NaN,NaN,45.147050,12.000000,0.000000,46.283232,12.000000,...,45.784922,12.000000,0.000000,45.139863,12.000000,0.000000,45.093583,12.000000,0.000000,0.00000
25%,2499.75000,2500.75000,32.000000,NaN,NaN,275.978779,39.000000,1.000000,268.427326,38.000000,...,268.470286,36.000000,1.000000,269.432095,35.000000,1.000000,276.507055,35.000000,1.000000,0.00000
50%,4999.50000,5000.50000,43.000000,NaN,NaN,482.173250,65.000000,2.000000,474.442784,63.000000,...,472.391691,58.000000,2.000000,472.530676,57.000000,3.000000,481.872558,56.000000,3.000000,1.00000
75%,7499.25000,7500.25000,53.000000,NaN,NaN,688.898992,90.000000,4.000000,680.824377,88.000000,...,680.923305,80.000000,4.000000,673.599392,78.000000,4.000000,681.397961,77.000000,4.000000,1.00000
max,9999.00000,10000.00000,65.000000,NaN,NaN,889.597940,115.000000,5.000000,889.712540,113.000000,...,889.979951,113.000000,5.000000,889.998913,113.000000,5.000000,889.612221,113.000000,5.000000,1.00000

In [6]:
df.dropna()

,Unnamed: 0,CustomerID,Age,Location,Device,Month_1_Spend,Month_1_Items,Month_1_Support_Calls,Month_2_Spend,Month_2_Items,...,Month_10_Spend,Month_10_Items,Month_10_Support_Calls,Month_11_Spend,Month_11_Items,Month_11_Support_Calls,Month_12_Spend,Month_12_Items,Month_12_Support_Calls,Churn
0,0,1,46,US,iOS,756.005761,39,2,582.023075,92,...,280.397827,60,0,700.181510,66,3,382.719682,59,0,1
1,1,2,52,US,iOS,594.838157,59,0,251.269898,33,...,863.000645,89,1,571.331352,28,3,570.203975,89,0,1
2,2,3,43,Canada,Android,453.217405,21,3,124.178946,92,...,858.545990,60,5,198.222684,38,1,187.475764,79,5,1
3,3,4,41,US,iOS,621.453170,95,1,134.362559,46,...,404.590146,59,3,565.395592,78,1,281.415092,63,4,1
4,4,5,41,US,iOS,660.735119,48,5,713.265527,54,...,178.143438,85,1,574.382094,34,2,544.981985,28,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,9996,35,Great Britain,iOS,496.165324,84,1,735.148231,60,...,708.936256,77,4,672.755957,23,5,710.675753,60,4,0
9996,9996,9997,59,Great Britain,iOS,138.836616,76,3,673.599667,52,...,736.393247,57,4,379.113761,75,4,870.230372,15,3,0
9997,9997,9998,45,US,iOS,533.289217,106,4,367.139990,41,...,567.421148,50,3,633.113010,89,5,624.403650,35,4,0
9998,9998,9999,58,Australia,iOS,684.746137,70,0,751.149320,105,...,239.675846,32,5,103.703552,97,5,731.775049,28,4,0
9999,9999,10000,58,Canada,iOS,509.062935,100,5,548.669868,15,...,816.267381,20,1,689.754531,41,0,184.375308,73,3,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              10000 non-null  int64
 1   CustomerID              10000 non-null  int64
 2   Age                     10000 non-null  int64
 3   Location                10000 non-null  object
 4   Device                  10000 non-null  object
 5   Month_1_Spend           10000 non-null  float64
 6   Month_1_Items           10000 non-null  int64
 7   Month_1_Support_Calls   10000 non-null  int64
 8   Month_2_Spend           10000 non-null  float64
 9   Month_2_Items           10000 non-null  int64
 10  Month_2_Support_Calls   10000 non-null  int64
 11  Month_3_Spend           10000 non-null  float64
 12  Month_3_Items           10000 non-null  int64
 13  Month_3_Support_Calls   10000 non-null  int64
 14  Month_4_Spend           10000 non-null  float64
 15  Month_4_Items           10000 non-null  int64
 16  Month_4_Support_Calls   10000 non-null  int64
 17  Month_5_Spend           10000 non-null  float64
 18  Month_5_Items           10000 non-null  int64
 19  Month_5_Support_Calls   10000 non-null  int64
 20  Month_6_Spend           10000 non-null  float64
 21  Month_6_Items           10000 non-null  int64
 22  Month_6_Support_Calls   10000 non-null  int64
 23  Month_7_Spend           10000 non-null  float64
 24  Month_7_Items           10000 non-null  int64
 25  Month_7_Support_Calls   10000 non-null  int64
 26  Month_8_Spend           10000 non-null  float64
 27  Month_8_Items           10000 non-null  int64
 28  Month_8_Support_Calls   10000 non-null  int64
 29  Month_9_Spend           10000 non-null  float64
 30  Month_9_Items           10000 non-null  int64
 31  Month_9_Support_Calls   10000 non-null  int64
 32  Month_10_Spend          10000 non-null  float64
 33  Month_10_Items          10000 non-null  int64
 34  Month_10_Support_Calls  10000 non-null  int64
 35  Month_11_Spend          10000 non-null  float64
 36  Month_11_Items          10000 non-null  int64
 37  Month_11_Support_Calls  10000 non-null  int64
 38  Month_12_Spend          10000 non-null  float64
 39  Month_12_Items          10000 non-null  int64
 40  Month_12_Support_Calls  10000 non-null  int64
 41  Churn                   10000 non-null  int64
dtypes: float64(12), int64(28), object(2)
memory usage: 3.2+ MB

In [8]:
import seaborn as sns

In [9]:
sns.pairplot(df, hue = 'Churn')

KeyboardInterrupt:

Error in callback <function flush_figures at 0x7fb7bd9bd670> (for post_execute):

KeyboardInterrupt:

In [10]:
df.groupby('Churn').count()

,Unnamed: 0,CustomerID,Age,Location,Device,Month_1_Spend,Month_1_Items,Month_1_Support_Calls,Month_2_Spend,Month_2_Items,...,Month_9_Support_Calls,Month_10_Spend,Month_10_Items,Month_10_Support_Calls,Month_11_Spend,Month_11_Items,Month_11_Support_Calls,Month_12_Spend,Month_12_Items,Month_12_Support_Calls
Churn,,,,,,,,,,,,,,,,,,,,,
0,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000,...,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000
1,7000,7000,7000,7000,7000,7000,7000,7000,7000,7000,...,7000,7000,7000,7000,7000,7000,7000,7000,7000,7000

In [ ]:
# check continuous variables first > age, work experience, family size

import matplotlib.pyplot as plt

fig, (ax1, ax2, ax3) = plt.subplots(1,3, figsize=(15,5))
sns.histplot(df['Age'], ax=ax1)
sns.histplot(df['Work_Experience'], ax=ax2)
sns.histplot(df['Family_Size'], ax=ax3)

In [15]:
df.groupby(['Churn','Age'])['CustomerID'].count().unstack()

Age,20,21,22,23,24,25,26,27,28,29,...,56,57,58,59,60,61,62,63,64,65
Churn,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,68.0,84.0,80.0,75.0,...,67.0,69.0,69.0,90.0,88.0,77.0,78.0,63.0,73.0,83.0
1,154.0,154.0,158.0,153.0,132.0,191.0,170.0,165.0,162.0,153.0,...,151.0,156.0,177.0,136.0,160.0,147.0,170.0,166.0,NaN,NaN

In [16]:
df.groupby(['Churn','Month_1_item'])['CustomerID'].count().unstack()

KeyError: 'Month_1_item'

In [26]:
df[df['Churn']=='0'].describe(include='all')

,Unnamed: 0,CustomerID,Age,Location,Device,Month_1_Spend,Month_1_Items,Month_1_Support_Calls,Month_2_Spend,Month_2_Items,...,Month_10_Spend,Month_10_Items,Month_10_Support_Calls,Month_11_Spend,Month_11_Items,Month_11_Support_Calls,Month_12_Spend,Month_12_Items,Month_12_Support_Calls,Churn
count,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
unique,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df['Churn'].unique()

array([1, 0])

In [20]:
df.dropna(inplace=True)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              10000 non-null  int64
 1   CustomerID              10000 non-null  int64
 2   Age                     10000 non-null  int64
 3   Location                10000 non-null  object
 4   Device                  10000 non-null  object
 5   Month_1_Spend           10000 non-null  float64
 6   Month_1_Items           10000 non-null  int64
 7   Month_1_Support_Calls   10000 non-null  int64
 8   Month_2_Spend           10000 non-null  float64
 9   Month_2_Items           10000 non-null  int64
 10  Month_2_Support_Calls   10000 non-null  int64
 11  Month_3_Spend           10000 non-null  float64
 12  Month_3_Items           10000 non-null  int64
 13  Month_3_Support_Calls   10000 non-null  int64
 14  Month_4_Spend           10000 non-null  float64
 15  Month_4_Items           10000 non-null  int64
 16  Month_4_Support_Calls   10000 non-null  int64
 17  Month_5_Spend           10000 non-null  float64
 18  Month_5_Items           10000 non-null  int64
 19  Month_5_Support_Calls   10000 non-null  int64
 20  Month_6_Spend           10000 non-null  float64
 21  Month_6_Items           10000 non-null  int64
 22  Month_6_Support_Calls   10000 non-null  int64
 23  Month_7_Spend           10000 non-null  float64
 24  Month_7_Items           10000 non-null  int64
 25  Month_7_Support_Calls   10000 non-null  int64
 26  Month_8_Spend           10000 non-null  float64
 27  Month_8_Items           10000 non-null  int64
 28  Month_8_Support_Calls   10000 non-null  int64
 29  Month_9_Spend           10000 non-null  float64
 30  Month_9_Items           10000 non-null  int64
 31  Month_9_Support_Calls   10000 non-null  int64
 32  Month_10_Spend          10000 non-null  float64
 33  Month_10_Items          10000 non-null  int64
 34  Month_10_Support_Calls  10000 non-null  int64
 35  Month_11_Spend          10000 non-null  float64
 36  Month_11_Items          10000 non-null  int64
 37  Month_11_Support_Calls  10000 non-null  int64
 38  Month_12_Spend          10000 non-null  float64
 39  Month_12_Items          10000 non-null  int64
 40  Month_12_Support_Calls  10000 non-null  int64
 41  Churn                   10000 non-null  int64
dtypes: float64(12), int64(28), object(2)
memory usage: 3.2+ MB

In [22]:
df.isnull().sum()

Unnamed: 0                0
CustomerID                0
Age                       0
Location                  0
Device                    0
Month_1_Spend             0
Month_1_Items             0
Month_1_Support_Calls     0
Month_2_Spend             0
Month_2_Items             0
Month_2_Support_Calls     0
Month_3_Spend             0
Month_3_Items             0
Month_3_Support_Calls     0
Month_4_Spend             0
Month_4_Items             0
Month_4_Support_Calls     0
Month_5_Spend             0
Month_5_Items             0
Month_5_Support_Calls     0
Month_6_Spend             0
Month_6_Items             0
Month_6_Support_Calls     0
Month_7_Spend             0
Month_7_Items             0
Month_7_Support_Calls     0
Month_8_Spend             0
Month_8_Items             0
Month_8_Support_Calls     0
Month_9_Spend             0
Month_9_Items             0
Month_9_Support_Calls     0
Month_10_Spend            0
Month_10_Items            0
Month_10_Support_Calls    0
Month_11_Spend            0
Month_11_Items            0
Month_11_Support_Calls    0
Month_12_Spend            0
Month_12_Items            0
Month_12_Support_Calls    0
Churn                     0
dtype: int64

In [24]:
df['Month_1_Spend'].unique()

array([756.00576085, 594.83815725, 453.21740511, ..., 533.28921747,
       684.74613679, 509.06293451])

In [ ]:
# Drop unnecessary columns
columns_to_drop = ['Unnamed: 0', 'CustomerID']
df_cleaned = df_cleaned.drop(columns=columns_to_drop)

In [ ]:
# Check for missing values
missing_values = df.isnull().sum()

# Drop rows with any missing values
df_cleaned = df.dropna()

# Alternatively, you can fill missing values with a specific value
# df_filled = df.fillna(value)

In [ ]:
# Convert 'Location' and 'Device' to categorical data type
df_cleaned['Location'] = df_cleaned['Location'].astype('category')
df_cleaned['Device'] = df_cleaned['Device'].astype('category')

In [ ]:
# Perform one-hot encoding on categorical variables
df_encoded = pd.get_dummies(df_cleaned, columns=['Location', 'Device'], drop_first=True)

In [ ]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScaler object
scaler = StandardScaler()

# Scale the numerical features
numerical_columns = ['Age', 'Month_1_Spend', ..., 'Month_12_Support_Calls']
df_encoded[numerical_columns] = scaler.fit_transform(df_encoded[numerical_columns])

In [ ]:
# Assuming 'Churn' is the target variable
X = df_encoded.drop(columns=['Churn'])
y = df_encoded['Churn']

In [ ]:
import pandas as pd

# Assuming df is your DataFrame
num_columns = df.columns[df.dtypes == 'float64']  # Select numerical columns
num_bins = 5  # Number of bins

# Create new categorical columns by categorizing the numerical columns
for col in num_columns:
    bin_labels = [f"{col}_bin_{i}" for i in range(1, num_bins + 1)]
    df[f"{col}_category"] = pd.cut(df[col], bins=num_bins, labels=bin_labels)

# Print the DataFrame to see the added categorical columns
print(df)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# Create a KNN classifier
knn_classifier = KNeighborsClassifier(n_neighbors=5)

# Fit the model to the training data
knn_classifier.fit(X_train, y_train)

# Make predictions on the test data
knn_predictions = knn_classifier.predict(X_test)

# Calculate accuracy
knn_accuracy = accuracy_score(y_test, knn_predictions)
print("KNN Accuracy:", knn_accuracy)

In [ ]:
from sklearn.linear_model import LogisticRegression

# Create a Logistic Regression model
logreg_model = LogisticRegression()

# Fit the model to the training data
logreg_model.fit(X_train, y_train)

# Make predictions on the test data
logreg_predictions = logreg_model.predict(X_test)

# Calculate accuracy
logreg_accuracy = accuracy_score(y_test, logreg_predictions)
print("Logistic Regression Accuracy:", logreg_accuracy)